body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('background.jpg'); /* Image de fond */
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(0,0,0,0.7); /* fond noir semi-transparent */
  color: white;
  padding: 20px;
}

.produit {
  display: inline-block;
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

#panier {
  background: rgba(255,255,255,0.8);
  margin: 20px auto;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}
